.block {
	position: relative;

	&__title {
		text-align: center;
		//margin-bottom: 40px;


		&::before {
			content: '';
			position: absolute;
			top: 65px;
			left: 50%;
			transform: translateX(-50%);
			width: 112px;
			height: 2px;
			background-color: #ffffff;
			text-align: center;
		}

		&_red {
			&::before {
				content: '';
				position: absolute;
				top: 65px;
				left: 50%;
				transform: translateX(-50%);
				width: 112px;
				height: 2px;
				background-color: $main-color;
				text-align: center;
			}
		}

	}

	&__text {
		margin-top: 70px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;


	}
}